﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Teknik Kitap ve Ders Notu Satış Platformu</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <title></title>
</head>
<body>
    <header id="header">
        <!--header-->

        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> Beni Ara</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> gkmnhyt@hotmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://www.twitter.com/gokmendmr"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/images/home/logo2.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    Türkiye
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Türkiye</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    Para Cinsi
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Türk Lirası</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">                               
                                <li><a href="login.html"><i class="fa fa-lock"></i> Üyeler </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="index.html" class="active">Anasayfa</a></li>
                                
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="contact-us.html">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Arama Yapabilirsiniz" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

   
        <!--slider
    <section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/girl3B.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
   slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Kategori</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            Üniversiteler
                                        </a>
                                    </h4>
                                </div>
                                <div id="sportswear" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#">Sakarya Üniversitesi </a></li>
                                            <li><a href="#">ODTÜ </a></li>
                                            <li><a href="#">İTÜ </a></li>
                                            <li><a href="#">Boğaziçi Üniversitesi</a></li>
                                            <li><a href="#">Mimar Sinan Üniversitesi </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div><!--/category-products-->

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>Fakülteler</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#"> <span class="pull-right">(50)</span>BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAKÜLTESİ</a></li>
                                    <li><a href="#"> <span class="pull-right">(56)</span>MATEMATİK VE FEN BİLİMLERİ EĞİTİMİ BÖLÜMÜ</a></li>
                                    <li><a href="#"> <span class="pull-right">(27)</span>GÜZEL SANATLAR FAKÜLTESİ</a></li>
                                    <li><a href="#"> <span class="pull-right">(32)</span>HUKUK FAKÜLTESİ</a></li>
                                    <li><a href="#"> <span class="pull-right">(5)</span>İLETİŞİM FAKÜLTESİ</a></li>
                                    <li><a href="#"> <span class="pull-right">(9)</span>SAĞLIK BİLİMLERİ FAKÜLTESİ</a></li>
                                    <li><a href="#"> <span class="pull-right">(4)</span>SİYASAL BİLGİLER FAKÜLTESİ</a></li>
                                </ul>
                            </div>
                        </div><!--/brands_products-->

                        <div class="price-range">
                            <!--price-range-->
                            <h2>Fiyat Aralığı</h2>
                            <div class="well text-center">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                                <b class="pull-left">TL 0</b> <b class="pull-right">TL 600</b>
                            </div>
                        </div><!--/price-range-->

                        <div class="shipping text-center">
                            <!--shipping-->
                            <img src="~/images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Son Eklenen Dokümanlar</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/home/product1.jpg" alt="" />
                                        <h2>4 TL </h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/home/product1.jpg" alt="" />
                                        <h2>4 TL</h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@Href("~/images/home/product1.jpg")" alt="" />
                                        <h2>4 TL</h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img id="img5" src="~/images/home/product1.jpg" alt="" />
                                        <h2>4 TL</h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/home/product1.jpg" alt="" />
                                        <h2>4 TL</h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/images/home/product1.jpg" alt="" />
                                        <h2>4 TL</h2>
                                        <p>Şehir ve Çevre Mühendisliği</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekleyin</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sakarya Üniversitesi</h2>
                                            <p>Güz Dönemi Ders Notu</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>İstek Listesi</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Karşılaştır</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div><!--features_items-->

                    

                    
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>Üni</span>Ders Notları</h2>
                            <p>Üniversite Ders Notlarınızı Satabilir veya Ders Notları Satın Alabilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe1.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Mobil Uyumlu</p>
                                <h2></h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe2.png" alt="" />
                                    </div>
                                   
                                </a>
                                <p>Güvenli Alışveriş</p>
                                <h2>%100 Güven</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe3.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Aynı Gün Kargo</p>
                                <h2>Hızlı Kargo</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="~/images/home/iframe4.png" alt="" />
                                    </div>
                                    
                                </a>
                                <p>Müşteri Memnuniyeti</p>
                                <h2>%100 Garanti</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="~/images/home/map.png" alt="" />
                            <p>Sakarya Üniversitesi Bilgisayar Mühendisliği</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>İletişim</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Bakınız</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Alış-Veriş Sistemi</a></li>
                                <li><a href="#">Telif Hakkı</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Hakkımızda</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Site Hakkında</a></li>
                                <li><a href="#">Kurucu Hakkında(Gkmn)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Yenilikler</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Mail Adresin" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Mail Adresini Kayıt Et... <br />Yeni Dokümanları Hemen Öğren...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2016 Gökmen Demir - Üni Ders Notları - Tüm Hakları Saklıdır.</p>
                    <p class="pull-right">Tasarım by <span><a target="_blank" href="http://www.twitter.com/gokmendmr">Gkmn</a></span></p>
                </div>
            </div>
        </div>
        <div id="content" class="span10">
            @RenderBody()
        </div>
    </footer><!--/Footer-->


    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>

    <!-- <a href="~/Home/Forms">Forms</a> -->
</body>

</html>
