﻿@{
    ViewBag.Title = " ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Bu div, bizim ana içeriğimiz. Genişliğin, %75'ini almasını ve sola yaslanmasını istedik. -->
<div style="width:75%;float:left">
    <!--Burada Partial View yerine Html.Action metodunu çağırdık-->

    
    @Html.Action("TumUrunler")
</div>
<!--Bu div, bizim yan kenar içeriğimiz. Genişliğin, %25'ini almasını ve sola,
    ana divin yanına, yaslanmasını istedik. -->
<div style="width:25%;float:left">

    <div class="row-fluid">

    </div>
</div>